.contact_form_body {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  text-align: center;
  min-width: 340px;
  max-width: 640px;
  padding: 20px;
  background: linear-gradient(0deg, rgba(245,222,179,0) 0%, rgba(245,222,179,1) 100%);
  border-radius: 15px;
}
