// Specific CSS for your home-page
.first-page-container {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 35px 0;

}

.photo-hugo {
  background-image: url("HugoMainImg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  border-radius: 0 15px 15px 0;
  border: 3px solid wheat;
  position: relative;
  transition: 1s;

  &:hover {
    box-shadow: 0 0 10px 0 wheat;
  }


}

.photo-hugo_peel_off {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: wheat;
  transform-origin: right;

  animation: slideout 4s;
  transform: scaleX(0) scaleY(1);

}

@keyframes slideout {
  from {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1) scaleY(1);
  }
  to {
    transform: scaleX(0) scaleY(1);
  }
}


.words-hugo {
  width: 40%;
  position: absolute;
  font-size: 2em;
  text-align: right;
  right: 10%;
  opacity: 1;
  animation: appear 3s, circular 10s linear infinite;
}

@keyframes circular {
  0% {
    transform: rotate(360deg) translate(10px) rotate(-360deg);
  }
  100% {
    transform: rotate(0deg) translate(10px) rotate(0deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
  }
}


.projects-pro-container{
  display: flex;
  margin: 50px;
  margin-bottom: 20px;
  padding-left: 30px;

}

.projects-text {
  margin: 30px;
  width: 23vw;
  margin: 0px;
}


.projects-cards   {
  display: flex;
  justify-content: start;
  width: 70vw;
  margin: 5px 0;
  align-items: left;

  a {
    text-decoration: none;
    color: black;
  }

  overflow-x: scroll;

}

.project-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 10px;
  margin: 23px;

  width: 280px;
  height: 410px;
  background: rgb(250, 250, 250);
  border: 2px solid wheat;
  border-radius: 15px;
  transition: 0.3s;

  h3 {
    padding: 0px 8px;
  }

  p {
    padding: 0px 8px;
    margin: 0;
  }

  &:hover {
    box-shadow: 0 0 10px 0 wheat;
    border: 2px solid white;
    background: white;


  }

}

.project-card_futur {
  // background-color: grey;
  opacity: 0.5;

  .card-miscelanous {
    opacity: 0;

  }
}


.card-secondhalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .fa-github{
    font-size: 25px;
    color: black;
  }

}


.card-photo {
  width: 250px;
  height: 150px;
  border: solid 1px grey;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.card-miscelanous {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3px;
  padding: 0px 3px;


  p {
    font-size: 12px;
    margin: 0px 0px;
    padding: 0px 0px;
  }
}


.projects-perso-container{
  display: flex;
  justify-content: end;
  margin: 50px;
  padding-right: 30px;
  margin-top: 20px;


  .projects-text {
    text-align: right;
  }
}


.cv-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);


  .photo-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: #000000;

    .photo {
      width: 100%;
      height: 60%;
      background-image: url("HugoCVImg.png");
      background-size: cover;
      background-position: center;

    }

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 40%;
      width: 100%;
      background-color: #000000;

      .contacts-icons {
        display: flex;
        font-size: 30px;
        color: #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        padding: 10px;

        i {
          font-size: 40px;
        }

        a {
          text-decoration: none;
          color: #FFFFFF;
        }
      }

      .contacts-text {
        font-size: 20px;
        color: #FFFFFF;
        margin: 10px;

        h3 {
          text-align: center;
        }
      }
    }
  }

  .cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 60%;
    background-color: #FFFFFF;

    .containter_cv {
      width: 70%;
      overflow: auto;

      .cv-title {
        margin: 40px;
        font-weight: bold;
      }

      .cv-text {
        margin: 40px;
      }

    }

  }

}
