<div class="first-page-container">
  <div class="photo-hugo">
  </div>
  <div class="words-hugo">
  <h1>Ensemble, soyez certain de réaliser vos projets.</h1>
  <h4>Hugo ROBERT</h4>
  </div>
</div>

<div class="projects-page-container">
  <div class="projects-pro-container">
    <div class="projects-text">
      <h2>Projets professionnels</h2>
      <p>ce furent des projets très intéressantsce furent des projets très intéressantsce furent des projets très intéressantsce furent des projets très intéressants</p>
    </div>
    <div class="projects-cards">
      <div class="project-card">
        <div class="card-firsthalf">
          <h3>Swappy, exceptions</h3>
          <p>trouver des activités à faire à plusieurs</p>
        </div>
        <div class="card-secondhalf">
          <div class="card-icon">
            <i class="fa-brands fa-github"></i>
          </div>
          <div class="card-photo">
          </div>
          <div class="card-miscelanous">
            <p>2023</p>
            <p>1/4</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects-perso-container">
    <div class="projects-cards">
      <div class="project-card">
        <div class="card-firsthalf">
          <h3>fragments, culture off on, task manager, Chat gpt personna</h3>
          <p>description du projetdescription du projetdescription du projet de fond en compl</p>
        </div>
        <div class="card-secondhalf">
          <div class="card-icon">
            <i class="fa-brands fa-github"></i>
          </div>
          <div class="card-photo">
          </div>
          <div class="card-miscelanous">
            <p>2023</p>
            <p>1/4</p>
          </div>
        </div>
      </div>
    </div>
    <div class="projects-text">
      <h2>Projets Personnels</h2>
      <p>Ces projets ont vocaiton à m'entrainer et de développer mes compétences pour en faire d'avantage et faire preuve d'une grande subtilité et d'évoluer dans différents doamines du code</p>
    </div>
  </div>

</div>

<div class="cv-page-container">
  <div class="photo-contacts">
    <div class="photo">
    </div>
    <div class="contacts">
      <div class="contacts-icons">
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin-in"></i>
      </div>
      <div class="contacts-text">
      <h3>Contactez-moi</h3>
      <p>PArlez moi de votre projet , décrivez moi vos besoins, eyt je vous contacterai dans les plus brefs délais PArlez moi de votre projet , décrivez moi vos besoins, eyt je vous contacterai dans les plus brefs délais </p>
      </div>
    </div>
  </div>
  <div class="cv">
    <div class="cv-title">
      <h1>Développeur Full-Stack</h1>
      <h2>Ruby on Rails</h2>
    </div>
    <div class="cv-text">
      <h4>text en gras</h4>
      <ul>
        <li>Descriptions de mes activités et réussites</li>
        <li>Descriptions de mes activités et réussites</li>
        <li>Descriptions de mes activités et réussites</li>
      </ul>
    </div>
  </div>
</div>
