<div class="contact_form_body">
  <h1>Confiez-moi vos idées et besoins.</h1>
  <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
  <script>
    hbspt.forms.create({
      region: "eu1",
      portalId: "139488037",
      formId: "a86d3510-b6bf-45fa-825f-c8e021faadf5"
    });
  </script>
</div>
